{% extends "base.html" %}

{% block title %}Login{% endblock  %}


{% block content %}
    <div class="centered-container">
        {% with messages= get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message  in messages  %}
                        <div class="alert {% if category == 'error' %}alert-danger{% else %}{{category}}{% endif %}">{{message}}</div>
                    {% endfor %}
                    <script>
                        setTimeout(function() {
                            $(".alert").fadeOut("slow");
                        }, 3000);  // Disappear after 3 seconds
                    </script>
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST", action="{{url_for("auth.login")}}">
            {{form.hidden_tag()}}
            <div class="mb-3">
                {{form.email.label(class="form-label", for="email")}}
                {{form.email(class="form-control", id="email", aria_describedby="emailError")}}
                {% for error in form.email.errors %}
                    <div id="emailError" class="form-text error">{{error}}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{form.password.label(class="form-label", for="password")}}
                {{form.password(class="form-control", id="password", aria_describedby="passwordError")}}
                {% for error in form.password.errors %}
                    <div id="passwordError" class="form-text error">{{error}}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <div  class="form-text">Don't have an account? <a href="{{url_for('auth.register')}}">Register</a></div>
            </div>
            {{form.submit(class="btn btn-primary", style="width:100%;")}}
        </form>
    </div>
{% endblock  %}