<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">BlogApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == url_for("index") %}active{% endif %}" aria-current="page" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == url_for("posts") %}active{% endif %}" href="{{url_for('posts')}}">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == url_for("new_post") %}active{% endif %}" href="{{url_for('new_post')}}">New Post</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="{{url_for('login')}}" class="btn btn-outline-success">Login</a>
        </div>
      </div>
    </div>
  </nav>
  